<link rel="stylesheet" type="text/css" href="/styles/style.css">
<link rel="stylesheet" type="text/css" href="/styles/tables.css">

<h1>You have the following notifications</h1>

<table>
  <tr>
    <th>Notification Type</th>
    <th>Supplier</th>
    <th>Product</th>
    <th>Action</th>
  </tr>
  <% @drinks.each do |drink| %>
  <% if drink.stock_level.to_i == 0 %>
  <tr>
    <td>
      Out of stock!
    </td>
    <td> <%= drink.supplier %> </td>
    <td> <%= drink.name %> </td>
    <td>Order More</td>
  </tr>
  <% elsif drink.stock_level.to_i <= 10 %>
  <tr>
    <td>
      Low stock Level
    </td>
    <td> <%= drink.supplier %> </td>
    <td> <%= drink.name %> </td>
    <td><a href="/drinks/<%=drink.id%>/order">Order More</a></td>
  </tr>
  <% end %>
  <% end %>
</table>
