<hr>
<h3>Current Stock below:</h3>
<hr>

<table>
  <tr>
    <th>Poduct Name</th>
    <th>Supplier</th>
    <th>Buy Price</th>
    <th>Sell Price</th>
    <th>Profit per unit</th>
    <th>Stock Level</th>
  </tr>
  <% @drinks.map do |drink| %>
  <tr>
    <td>
      <% if drink.stock_level.to_i <= 10 %>
      <a href="drinks/<%= drink.id %>"><%= drink.name %> !Low Stock Level!</a>
      <% else %>
      <a href="drinks/<%= drink.id %>"><%= drink.name %></a>
      <% end %>
    </td>
    <td>
      <%= drink.supplier %>
    </td>
    <td>
      <%= drink.buy_cost %>
    </td>
    <td>|</td>
    <td>TBC</td>
    <td>
      <%= drink.stock_level %>
    </td>
    <% end %>

  </table>

  <form action="/drinks/" method="GET">

    <p>Filter by supplier below</p>
    <label for="supplier">Supplier:</label>
    <select name="supplier_id" id="supplier">
      <% @suppliers.each do |supplier| %>
      <option value=<%= supplier.id %>><%= supplier.name.capitalize %></option>
      <% end %>
    </select>

    <input type="submit" value="Filter">

  </form>


  <a href="/drinks/new">Click to create new drink</a>
