<hr>
<h3>Current Stock below:</h3>
<hr>

<table>
  <style>
    .low_stock{
      background-color: orange;
    }

    .no_stock{
      background-color: red;
    }

  </style>
  <tr>
    <th>Poduct Name</th>
    <th>Supplier</th>
    <th>Buy Price</th>
    <th>Sell Price</th>
    <th>Profit per unit</th>
    <th>Stock Level</th>
  </tr>
  <% @drinks.map do |drink| %>
  <tr>
    <td>
      <a href="drinks/<%= drink.id %>"><%= drink.name %></a>
    </td>
    <td>
      <%= drink.supplier %>
    </td>
    <td>
      £<%= drink.buy_cost %>
    </td>
    <td>
      £<%= drink.sell_price %>
    </td>
    <td>
      £<%= sprintf('%.2f', (drink.sell_price.to_f - drink.buy_cost.to_f)) %>
    </td>
    <% if drink.stock_level.to_i == 0 %>
    <td class="no_stock">
      <%= drink.stock_level %>
    </td>
    <% elsif drink.stock_level.to_i <= 10 %>
    <td class="low_stock">
      <%= drink.stock_level %>
    </td>
    <% else %>
    <td>
      <%= drink.stock_level %>
    </td>
    <% end %>
    <td class="invisible">
      <form action="/drinks/<%=drink.id%>/order" method="GET">
        <input type="submit" value="Order More">
      </form>
    </td>
  </tr>
  <% end %>
</table>

<form action="/drinks/" method="GET">

  <p>Filter by supplier below</p>
  <label for="supplier">Supplier:</label>
  <select name="supplier_id" id="supplier">
    <% @suppliers.each do |supplier| %>
    <option value=<%= supplier.id %>><%= supplier.name.capitalize %></option>
    <% end %>
  </select>

  <input type="submit" value="Filter">

</form>


<a href="/drinks/new">Click to create new drink</a>
