<p>Drink Name: <%=@drink.name%></p>
<p>Buy Cost from Supplier: <%=@drink.buy_cost%></p>
<p>Product Type: <%= @drink.product_type %></p>
<p>Supplier Name: <%= @drink.supplier %></p>
<p>Drink Code: <%=@drink.product_code%></p>
