

<p>Drink Name: <%=@drink.name%></p>
<p>Buy Cost from Supplier: <%=@drink.buy_cost%></p>
<p>Supplier Name: <%= @drink.supplier %></p>
<p>Current stock level: <%= @drink.stock_level %></p>

<a href="/drinks/<%= @drink.id %>/edit">
  Click here to edit
</a>
