<form action="/suppliers/<%=@supplier.id%>" method="POST">

  <label for="name">Supplier Name:</label>
  <input value="<%=@supplier.name.capitalize%>" type="text" name="name" id="name">

  <label for="code">Supplier Code:</label>
  <input value="<%=@supplier.supplier_code%>"type="text" name="supplier_code" id="code">

  <label for="preferred">Preferred Supplier?</label>
  <select name="preferred" id="preferred">
    <option value="true"
      <%= "selected" if @supplier.preferred == true %>>
      Yes
    </option>
    <option value="false"
      <%= "selected" if @supplier.preferred == false %>>
      No
    </option>
  </select>

  <label for="promotion">On Promotion?</label>
  <select name="promotion" id="promotion">
    <option value="true"
      <%= "selected" if @supplier.promotion == true %>>
      Yes
    </option>
    <option value="false"
      <%= "selected" if @supplier.promotion == false %>>
      No
    </option>
  </select>

  <input type="submit" value="Confirm Amendment">

</form>
