<form action="/suppliers/<%=@supplier.id%>" method="POST">

  <p>
    <label for="name">Supplier Name:</label>
    <input value="<%=@supplier.name.capitalize%>" type="text" name="name" id="name">
  </p>
  <p>
    <label for="code">Supplier Code:</label>
    <input value="<%=@supplier.supplier_code%>"type="text" name="supplier_code" id="code">
  </p>
  <p>
    <label for="active">Satus:</label>
    <select name="active" id="active">
      <option value="true"
      <%= "selected" if @supplier.active == "t" %>>
      Active
    </option>
    <option value="false"
    <%= "selected" if @supplier.active == "f" %>>
    Inactive
  </option>
</select>
</p>
<p>
  <input type="submit" value="Confirm Amendment">
</p>

</form>
